$colors: (
    'text': (
        'text-black': #132C12,
        'text-white': #fff,
        'text-1':#FFD322,
        'text-2': #4CAE47,
        'text-3': #334133,
        'text-4': #FB8500,
        'text-5': #023118,
        'text-6': #FACA15,
        ),
    'bg': (
        'bg-1':#E4EBE7,
        'bg-2':#F2F6F4,
        'bg-3':#1F684E,
        
    ),
    'border': (
        'border-1': #E5E7EB,
        'border-2': #D0D5D0,
        'border-3': #DCE2DD,
        'border-4': #CFD8D2,
    )
);