$colors: (
    'text': (
        'text-black': #132C12,
        'text-white': #fff,
        'text-1':#FFD322,
        'text-2': #4CAE47,
        'text-3': #334133,
        ),
    'bg': (
        'bg-1':#E4EBE7,
        'bg-2':#F2F6F4,
        
    ),
    'border': (
        'border-1': #E5E7EB,
        'border-2': #dfdcdc,
    )
);