@use '../utils' as *;

/*----------------------------------------*/
/*  2.12 Accordion
/*----------------------------------------*/

.vl-faq-large-thumb2{
    & .vl-faq-thumb2{
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        height: 486px;
        object-fit: cover;
        border-radius: 8px;
        @media #{$md,$xs}{
            height: 100%;
        }
        & img{
            background-size: cover;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            width: 100%;
            height: 100%;
            display: block;
        }
        & img:nth-child(1){
            -webkit-transform: translatex(50%) scalex(2);
            transform: translatex(50%) scalex(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
        & img:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &:hover{
        & .vl-faq-thumb2{
            & img:nth-child(1){
                -webkit-transform: translatex(0) scalex(1);
                transform: translatex(0) scalex(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }
            & img:nth-child(2){
                -webkit-transform: translatex(-50%) scalex(2);
                transform: translatex(-50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}

.vl-faqs2{
    margin-left: 50px;
    @media #{$lg,$md,$xs}{
        margin-left: 0;
    }
    & .vl-accordion-item{
        position: relative;
        z-index: 1;
        background: var(--vkl-text-text-5);
        border-radius: 8px;
        margin-bottom: 24px;
        & .vl-accordion-button{
            color: var(--vkl-text-text-white);
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height20);
            font-weight: var(--vkl-weight-semibold);
            width: 100%;
            text-align: left;
            padding: 20px 16px;
            padding-bottom: 0;
            @media #{$md}{
                font-size: var(--vkl-font-size-font-s20);
                line-height: var(--vkl-specing-height28);
            }
            @media #{$xs}{
                font-size: var(--vkl-font-size-font-s20);
                line-height: var(--vkl-specing-height28);
            }
            &.collapsed {
                color:var(--vkl-text-text-4);
                background: var(--vkl-text-text-white);
                padding: 16px 20px;
                border-radius: 8px;
                height: 64px;
                box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.09);
                @media #{$xs}{
                    height: 100%;
                }
                span.vl-faqarrow {
                    position: absolute;
                    right: 24px;
                    top: 17px;
                    background: var(--vkl-text-text-5);
                    color: var(--vkl-text-text-white);
                    height: 32px;
                    width: 32px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 50px;
                    font-size: 24px;
                    line-height: 39px;
                    transition: .3s;
                   transform: rotate(0);
                   @media #{$xs}{
                    right: 6px;
                    }
                }
            }
            span.vl-faqarrow {
                position: absolute;
                right: 24px;
                top: 17px;
                background: var(--vkl-text-text-white);
                color: var(--vkl-text-text-1);
                height: 32px;
                width: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 50px;
                font-size: 24px;
                line-height: 39px;
                transition: .3s;
                transform: rotate(-180deg);
                @media #{$xs}{
                    right: 6px;
                }
            }
        }
        .vl-accordion-body .para {
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 20px;
            color: var(--vkl-text-text-7);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height28);
            font-weight: var(--vkl-weight-medium);
        }
    }
}
