@use '../utils' as *;



// mouse move on image scss

// .vl-award{
//     &-item{
//         position: relative;
//         padding: 37px 30px 31px;
//         border-bottom: 1px solid #3A0CA3;
//         transition: .3s;
//         @media #{$xs}{
//             padding: 37px 20px;
//             padding-bottom: 31px;
//         }
//         &::after{
//             position: absolute;
//             content: '';
//             top: 0;
//             left: 0;
//             height: 0;
//             width: 100%;
//             transition: .3s ease-in-out;
//             background-color:#3A0CA3;
//             z-index: -1;
//         }
//         &:hover{
//             padding: 37px 60px 31px;
//             transition: .3s;
//             & .vl-award-text,
//             & .vl-award-position {
//                 color: #fff;
//                 transition: .3s;
//             }
//             & .vl-award-icon{
//                 transform: rotate(-45deg);
//                 color: #3A0CA3;
//                 background-color: #F5F7F5;
//                 transition: .3s;
//             }
//             &::after{
//                 height: 100%;
//             }
//         }
//         &-wrap{
//             border-top: 1px solid #F5F7F5;
//         }
//     }
//     &-text{
//         font-size: 24px;
//         font-weight: 500;
//         line-height: 1;
//         letter-spacing: -0.02em;
//         text-transform: uppervlse;
//         color: #1c0303;
//         transition: .3s;
//         @media #{$xl} {
//             font-size: 20px;
//         }
//         @media #{$lg}{
//             font-size: 16px;
//         }
//         @media #{$md,$xs}{
//             font-size: 14px;
//         }
//         @media #{$sm}{
//             font-size: 20px;
//         }
//     }
//     &-position{
//         font-size: 16px;
//         font-weight: 500;
//         line-height: 1;
//         text-transform: uppervlse;
//         color: #080000;
//         transition: .3s;
//         @media #{$lg,$md,$xs}{
//             font-size: 14px;
//         }
//     }
//     &-icon{
//         width: 40px;
//         height: 40px;
//         display: grid;
//         border-radius: 50%;
//         place-content: center;
//         color: #0E082B;
//         border: 1px solid #F5F7F5;
//         float: right;
//         transition: .3s;
//     }
//     &-btn{
//         @media #{$xs} {
//             display: none;
//         }
//         @media #{$sm} {
//             display: block;
//         }
//         & .vl-btn-green{
//             border-radius: 5px;
//             background: #0b0be0;
//             color: #fff;
//         }
//     }
// }

// .hover-reveal-item{
//     & .vl-award-reveal-img{
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 210px;
//         height: 250px;
//         opacity: 0;
//         z-index: 9;
//         overflow: hidden;
//         pointer-events: none;
//         border-radius: 10px;
//         margin: -70px 0 0 -70px;
//         transform:svlle(0.4);
//         background-repeat: no-repeat;
//         background-size: cover;
//     }
//     &:hover{
//         & .vl-award-reveal-img{
//             opacity: 1;
//         }
//     }
// }


.tp-clip-anim {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    position: relative;
    & .tp-anim-img {
        opacity: 0;
        width: 100%;
        height: 100%;
    }

    & .mask {
        background-size: cover;
        background-position: center;
        transform: scale(1.005);
    }
    >* {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
        max-height: 100%;
    }
}
