@use '../utils' as *;

/*----------------------------------------*/
/*  2.8 Nice Select
/*----------------------------------------*/

.select-custom {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: #46475F;
}
.select-custom.wide:focus {
    border: inherit;
}

.select-custom.wide:after {
    height: 7px;
    width: 7px;
    border-bottom: 2px solid var(--vkl-text-text-black);
    border-right: 2px solid var(--vkl-text-text-black);
}