@use '../utils' as *;

/*----------------------------------------*/
/*  2.15 Section Title
/*----------------------------------------*/

.vl-section-title{
    & .subtitle{
        background: var(--vkl-bg-bg-3);
        display: inline-block;
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-medium);
        color: var(--vkl-text-text-black);
        padding: 13px 16px;
        padding-left: 46px;
        border-radius: 88px;
        position: relative;
        & span{
            background: var(--vkl-text-text-white);
            height: 32px;
            width: 32px;
            line-height: 32px;
            text-align: center;
            border-radius: 50px;
            display: inline-block;
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
        }
        &-2{
            border-radius: 8px;
            color: var(--vkl-text-text-4);
            &-1{
                & span{
                    background: var(--vkl-bg-bg-3);
                }
            }
        }
    }
    & .title{
        padding-top: 16px;
        font-size: var(--vkl-font-size-font-s44);
        line-height: var(--vkl-specing-height52);
        font-weight: var(--vkl-weight-semibold);
        color: var(--vkl-text-text-black);
        @media #{$lg}{
            font-size: var(--vkl-font-size-font-s40);
        }
        @media #{$md,$xs}{
            font-size: var(--vkl-font-size-font-s40);
            line-height: var(--vkl-specing-height44); 
        }
        @media #{$xs}{
            font-size: var(--vkl-font-size-font-s30);
            line-height: var(--vkl-specing-height40); 
        }
        &-2{
            color: var(--vkl-text-text-4);
        }
    }
    & .para{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height26);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-1);
    }
    &-2{
        & .subtitle{
            &-2{
                background: var(--vkl-text-text-white);
            }
        }
    }
    &-white{
        & .subtitle{
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(5px);
            color: var(--vkl-text-text-white);
            & span{
                background: rgba(255, 255, 255, 0.10);
                & img{
                    filter: brightness(0) invert(1);
                }
            }
        }
        & .title{
            color: var(--vkl-text-text-white);
        }
    }
}

.vl-about-content{
    margin-left: 30px;
    @media #{$lg,$md,$xs}{
        margin-left: 0;
    }
}


.vl-solution-content {
    margin-left: 50px;
    @media #{$lg,$md,$xs}{
        margin-left: 0;
    }
}

