@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 Footer Style 1
/*----------------------------------------*/


.vl-footer{
    &-content{
        & .para {
            color:var(--vkl-text-text-3);
            margin: 0;
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height26);
        }
    }
    &-widget{
        &-title{
            color: var(--vkl-text-text-black);
            font-size: var(--vkl-font-size-font-s24);
            line-height: var(--vkl-specing-height24);
            @media #{$xl}{
                font-size: var(--vkl-font-size-font-s20);
            }
        }
        &-2{
            margin-left: 50px;
            @media #{$xl}{
                margin-left: 0px;
            }
            @media #{$md,$xs}{
                margin-left: 0;
            }
        }
        &-3{
            margin-left: 50px;
            @media #{$xl}{
                margin-left: 0px;
            }
            @media #{$md,$xs}{
                margin-left: 0;
            }
        }

        &-4{
            margin-left: 72px;
            @media #{$xl}{
                margin-left: 0px;
            }
            @media #{$md,$xs}{
                margin-left: 0;
            }
            p{
                color: #fff;
                opacity: .8;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
    &-menu{
        & ul{
            & li{
                & a{
                    color:var(--vkl-text-text-3);
                    transition: .3s;
                    font-size: var(--vkl-font-size-font-s18);
                    font-weight: var(--vkl-weight-medium);
                    line-height: var(--vkl-specing-height18);
                    margin-bottom: 24px;
                    display: block;
                    &:hover{
                        margin-left: 6px;
                        color: var(--vkl-text-text-1);
                        opacity: 1;
                        transition: .3s;
                    }
                }
            }
        }
    }
    &-newsletter{
        & {
            input[type=email] {
            border-radius: 4px;
            }
        }
        &-btn{
            & .vl-btn-sec{
                width: 100%;
                text-align:center;
            }
        }
    }
    
    &-copyright{
        &-text{
            color: var(--vl-white-8);
            padding: 24px 0;
            margin: 0;
            border-top: 1px solid #585D79;
        }
    }
}

// newslatter form 1
.footer-newsfrm{
    input[type="email"]{
        height: 60px;
        line-height: 60px;
        border-radius: 8px;
        border: 1px solid #F1F1F1;
        color: var(--vkl-text-text-2);
        &::placeholder{
            font-size: var(--vkl-font-size-font-s18);
            font-weight: var(--vkl-weight-medium);
            color: var(--vkl-text-text-2);
        }
    }
}



// copy right
.vl-copy-righ1t{
    padding: 22px 0;
    padding-bottom: 0;
    border-top: 1px solid #C5CEC7;
    & .vl-footer-copy-right-widget{
        & .para{
            color: var(--vkl-text-text-3);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
            @media #{$xs}{
                text-align: center;
            }
        }
    }
    & .vl-copy-right-menu{
        text-align: right;
        @media #{$xs}{
            text-align: center;
        }
        & ul{
            & li{
                display: inline-block;
                margin-left: 16px;
                padding-left: 16px;
                position: relative;
                z-index: 1;
                @media #{$xs}{
                    margin-left: 0;
                    padding-left: 0;
                    margin-right: 16px;
                    padding-right: 16px;
                }
                &::after{
                    position: absolute;
                    content: "";
                    right:-16px;
                    top: 0;
                    width: 2px;
                    height: 16px;
                    background:#C5CEC7;
                    @media #{$xs}{
                        right: 0;
                    }
                }
                &:last-child{
                    @media #{$xs}{
                        margin-right: 0px;
                        padding-right: 0px;
                    }
                    &::after{
                        display: none;
                    }
                }
                & a{
                    color: var(--vkl-text-text-3);
                    font-size: var(--vkl-font-size-font-s18);
                    line-height: var(--vkl-specing-height18);
                    font-weight: var(--vkl-weight-medium);
                    display: block;
                    transition: .3s;
                    &:hover{
                        color: var(--vkl-text-text-1);
                        transition: .3s;
                    }
                }
            }
        }
    }
}


// work hour 

.vkl-work-hour-wrap{
    padding: 20px 18px;
    & .vkl-content-flex{
        display: flex;
        justify-content: space-between;
        padding-bottom: 18px;
        margin-bottom: 18px;
        border-bottom: 1px solid #DCE2DD;
        align-items: center;
        &:last-child{
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        & .day-title{
            color: var(--vkl-text-text-black);
            font-weight: var(--vkl-weight-regular);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
        }
        & .para{
            font-size: var(--vkl-font-size-font-s16);
            line-height: var(--vkl-specing-height16);
            font-weight: var(--vkl-weight-medium);
            color: var(--vkl-text-text-black);
        }

    }   
}