@use '../utils' as *;

ul{
	li{
		list-style: none;
	}
}
.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}

.br{
	&-6{
		border-radius: 6px;
	}
	&-8{
		border-radius: 8px;
	}
	&-16{
		border-radius: 16px;
	}
	&-32{
		border-radius: 32px;
	}
	&-88{
		border-radius: 88px;
	}
	&-99{
		border-radius: 99px;
	}
}

p{
	margin: 0;
}
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}

.vkl-cmn-bg{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}



// swiper slider transition effect 
.vl-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.vl-brand-slide-element {
	width: auto;
	display: inline-block;
}

// text color 

.vkl-wh-text{
	color: var(--vkl-text-text-white) !important;
}

.vkl-white-9{
	color: rgba(255, 255, 255, 0.90) !important;
}


// backgound common color
.vkl-text-black{
	background: var(--vkl-text-text-black);
}
.vkl-white-bg{
	background: var(--vkl-text-text-white);
}

.vkl-bg-1{
	background: var(--vkl-bg-bg-1);
}
.vkl-bg-2{
	background: var(--vkl-bg-bg-2);
}
.vkl-bg-3{
	background: var(--vkl-bg-bg-3);
}


.vkl-blur-bg-1{
	background: rgba(255, 255, 255, 0.10);
	backdrop-filter: blur(5px);
}

.vkl-white-bg-10{
	background: rgba(255, 255, 255, 0.10);
}


.w-100{
	width: 100%;
}


.vl-clip-anim {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  position: relative;
}
.vl-clip-anim .vl-anim-img {
  opacity: 0;
  width: 100%;
  height: 100%;
}
.vl-clip-anim .mask {
  background-size: cover;
  background-position: center;
  transform: scale(1.005);
}
.vl-clip-anim > * {
  grid-area: 1/1/2/2;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
