@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 Blog css
/*----------------------------------------*/

.vkl-blog-item{
    &-tags{
        & a{
            margin-right: 8px;
            padding-right: 8px;
            border-right: 1px solid #E0E6E2;
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            color: var(--vkl-text-text-black);
            font-weight: var(--vkl-weight-medium);
            transition: .3s;
            &:last-child{
                border-right: none;
                padding-right: 0;
                margin-right: 0;
            }
            & img{
                margin-top: -4px;
                transition: .3s;
            }
            &:hover{
                color: var(--vkl-text-text-2);
                transition: .3s;
            }
        }
    }
    &-title{
        line-height: var(--vkl-specing-height32);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
        }
    }
    & .vkl-lern-more{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-semibold);
        display: inline-block;
        transition: .3s;
        & span{
            display: inline-block;
            transform: rotate(-45deg);
            transition: .3s;
        }
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
            & span{
                transform: rotate(0deg);
                transition: .3s;
            }
            
        }
    }
    &-2{
        border: 1px solid rgba(19, 44, 18, 0.10);
        transition: .3s;
        & .vkl-blog-item{
            &-content{
                padding: 32px;
            }
            &-tags{
                & a{
                    border-right: 1px solid #D3DCD6;
                    &:last-child{
                        border-right: transparent;
                    }
                }
            }
        }
        &:hover{
            background: var(--vkl-bg-bg-1);
            transition: .3s;
            border: 1px solid transparent;
        }
    }
    &-3{
        border: 1px solid rgba(19, 44, 18, 0.10);
        padding: 22px 20px;
    }
    &-content{
        &-4{
            background: var(--vkl-bg-bg-1);
            border-radius: 8px;
            margin-left: 16px;
            margin-right: 16px;
            padding: 24px;
            margin-top: -50px;
            position: relative;
            z-index: 1;
            transition: .3s;
            & .vkl-blog-item-tags{
                & a{
                    border-right: 1px solid #D1DAD4;
                    &:last-child{
                        border-right: 1px solid transparent;
                    }
                }
            }
        }
    }
    &:hover{
        & .vkl-blog-item{
            &-content-4{
                background: var(--vkl-text-text-2);
                transition: .3s;
                & .vkl-blog-item{
                    &-tags{
                        & a{
                            color: var(--vkl-text-text-white);
                            transition: .3s;
                            & img{
                                filter: brightness(0) invert(1);
                                transition: .3s;
                            }    
                        }
                    }
                    &-title{
                        color: var(--vkl-text-text-white);
                        transition: .3s;
                        &:hover{
                            color: var(--vkl-text-text-1);
                            transition: .3s;
                        }
                    }
                }
                & .vkl-lern-more{
                    color: var(--vkl-text-text-white);
                    transition: .3s;
                    &:hover{
                        color: var(--vkl-text-text-1);
                        transition: .3s;
                    }
                }
            }
        }
    }
    &-5{
        background: var(--vkl-bg-bg-1);
        padding: 32px 24px;
        border-radius: 16px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: .3s;
        & .vkl-blog-bg-thumb{
            opacity: 0;
            transition: .3s;
            & img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                transition: .3s;
            }
            &:after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                opacity: 0.8;
                background: #132C12;
            }
        }
        &:hover{
            color: var(--vkl-text-text-white) !important;
            & .vkl-blog-item{
                &-tags{
                    & a{
                    color: var(--vkl-text-text-white);
                    transition: .3s; 
                    }
                }
                &-title{
                    color: var(--vkl-text-text-white);
                    transition: .3s;
                }
                &-desc{
                    color: var(--vkl-text-text-white);
                    transition: .3s;
                }
            }
            .vkl-blog-bg-thumb{
                opacity: 1;
                transition: .3s;
            }
        }
    }
    &-6{
        & .vkl-blog-item{
            &-content{
                padding: 24px;
            }
        }
        & .vkl-lern-more{
            display: flex;
            flex-direction: row;
            justify-content: end;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                height: 1px;
                width: 66%;
                background: #CFD8D2;
                transform: translateY(-50%);
                transition: .3s;
            }
            & span{
                margin-left: 4px;
            }
        } 
        &:hover{
            & .vkl-lern-more{
                &::after{
                    background: var(--vkl-text-text-2);
                    transition: .3s;
                }
            }
            & .blog-tags6{
                & a{
                    &:hover{
                        background: var(--vkl-text-text-1);
                        transition: .3s;
                    }
                }
            }
        }
    }
    &-10{
       padding: 32px 24px; 
       border: 1px solid #DCE2DD;
    }
    &-9{
        & .blog-tags6 a{
            bottom: 16px;
            top: auto;
            left: auto;
            right: 16px;
            &:hover{
                background: var(--vkl-text-text-1);
                transition: .3s;
            }
        }
        & .vkl-blog-item-tags a{
            &:hover{
                color: var(--vkl-text-text-1);
            }
        }
        & .vkl-blog-item-title{
            &:hover{
                color: var(--vkl-text-text-1);
            }
        }
        & .vkl-lern-more{
            &:hover{
                color: var(--vkl-text-text-1);
            }
        }
    }






.vkl-blog-item-thumb{
    & .vl-clip-anim{
        & img{
            height: 370px !important;
            object-fit: cover;
        }
    }
    &-2{
        & .vl-clip-anim{
            & img{
                height: 348px !important;
                object-fit: cover;
            }
        }
    }
    &-3{
        & .vl-clip-anim{
            & img{
                height: 300px !important;
                object-fit: cover;
            }
        }
    }
    &-4{
        & .vl-clip-anim{
            & img{
                height: 362px !important;
                object-fit: cover;
            }
        }
    }
    &-9{
        & .vl-clip-anim{
            & img{
                height: 310px !important;
                object-fit: cover;
            }
        }
    }
}

}

.blog-tags6{
    & a{
        background: var(--vkl-bg-bg-1);
        display: inline-block;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-semibold);
        color: var(--vkl-text-text-black);
        transition: .3s;
        position: absolute;
        left: 20px;
        top: 20px;
    }
}

.vkl-blog-item-content-8{
    padding: 32px 48px;
    padding-right: 60px;
    & .vkl-blog-item-title{
        font-size: var(--vkl-font-size-font-s32);
        line-height: var(--vkl-specing-height38);
    }
}