@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 Blog css
/*----------------------------------------*/

.vkl-blog-item{
    &-tags{
        & a{
            margin-right: 8px;
            padding-right: 8px;
            border-right: 1px solid #E0E6E2;
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            color: var(--vkl-text-text-black);
            font-weight: var(--vkl-weight-medium);
            transition: .3s;
            &:last-child{
                border-right: none;
                padding-right: 0;
                margin-right: 0;
            }
            & img{
                margin-top: -4px;
            }
            &:hover{
                color: var(--vkl-text-text-2);
                transition: .3s;
            }
        }
    }
    &-title{
        line-height: var(--vkl-specing-height32);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
        }
    }
    & .vkl-lern-more{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-semibold);
        display: inline-block;
        transition: .3s;
        & span{
            display: inline-block;
            transform: rotate(-45deg);
            transition: .3s;
        }
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
            & span{
                transform: rotate(0deg);
                transition: .3s;
            }
            
        }
    }
    &-2{
        border: 1px solid rgba(19, 44, 18, 0.10);
        transition: .3s;
        & .vkl-blog-item{
            &-content{
                padding: 32px;
            }
            &-tags{
                & a{
                    border-right: 1px solid #D3DCD6;
                    &:last-child{
                        border-right: transparent;
                    }
                }
            }
        }
        &:hover{
            background: var(--vkl-bg-bg-1);
            transition: .3s;
            border: 1px solid transparent;
        }
    }
    &-3{
        border: 1px solid rgba(19, 44, 18, 0.10);
        padding: 22px 20px;
    }

}

.vkl-blog-item-thumb{
    & .vl-clip-anim{
        & img{
            height: 370px !important;
            object-fit: cover;
        }
    }
    &-2{
        & .vl-clip-anim{
            & img{
                height: 348px !important;
                object-fit: cover;
            }
        }
    }
}

.vkl-blog-item-thumb{
    &-6{
        img {
            height: 300px !important;
            object-fit: cover;
        }
    }
}