@use '../utils' as *;

/*----------------------------------------*/
/*  2.12 Accordion
/*----------------------------------------*/

.vl-faqs2{
    margin-left: 20px;
    @media #{$lg,$md,$xs}{
        margin-left: 0;
    }
    & .vl-accordion-item{
        position: relative;
        z-index: 1;
        margin-bottom: 32px;
        border-radius: 8px;
        border: 1px solid #C5CEC7;
        background: var(--vkl-text-text-2);
        & .vl-accordion-button{
            color: var(--vkl-text-text-white);
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height20);
            font-weight: var(--vkl-weight-regular);
            width: 100%;
            text-align: left;
            padding: 22px 20px;
            padding-bottom: 0;
            @media #{$md}{
                font-size: var(--vkl-font-size-font-s20);
                line-height: var(--vkl-specing-height28);
            }
            @media #{$xs}{
                font-size: var(--vkl-font-size-font-s20);
                line-height: var(--vkl-specing-height28);
            }
            &.collapsed {
                background: var(--vkl-bg-bg-1);
                padding: 20px 22px;
                border-radius: 8px;
                height: 64px;
                color: var(--vkl-text-text-black);
                @media #{$xs}{
                    height: 100%;
                }
                span.vl-faqarrow {
                    position: absolute;
                    right: 32px;
                    top: 24px;
                    color: var(--vkl-text-text-6);
                    text-align: center;
                    border-radius: 50px;
                    font-size: 24px;
                    transition: .3s;
                    transform: rotate(0);
                    @media #{$xs}{
                        right: 6px;
                    }
                }
            }
            span.vl-faqarrow {
                position: absolute;
                right: 32px;
                top: 24px;
                color: var(--vkl-text-text-white);
                text-align: center;
                border-radius: 50px;
                font-size: 24px;
                transition: .3s;
                transform: rotate(-180deg);
                @media #{$xs}{
                    right: 6px;
                }
            }
        }
        .vl-accordion-body .para {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            color: var(--vkl-text-text-white);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height28);
            font-weight: var(--vkl-weight-medium);
        }
    }
}