@use '../utils' as *;

ul{
	li{
		list-style: none;
	}
}
.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}

.br{
	&-8{
		border-radius: 8px;
	}
}

p{
	margin: 0;
}
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}

.bg-img-common{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

// common color
.vkl-gray-bg{
	background: var(--vkl-bg-bg-3);
}
.vkl-gray-bg-1{
	background: var(--vkl-bg-bg-4);
}
.vkl-black-bg{
	background: var(--vkl-text-text-4);
}
.vkl-blue-bg{
	background: var(--vkl-text-text-5);
}