@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 Blog css
/*----------------------------------------*/

.vl-blog-thumb-wrap{
    background: var(--vkl-bg-bg-3);
    transition: .3s;
    overflow: hidden;
    border-radius: 16px;
    & .vl-blog-thumb{
        height: 270px;
        object-fit: cover;
        overflow: hidden;
        transition: .3s;
        & img{
            width: 100%;
            height: 270px;
            object-fit: cover;
            transition: .3s;
        }
    }
    & .vl-blog-content{
        padding: 24px;
        & .title{
            font-size: var(--vkl-font-size-font-s24);
            line-height: var(--vkl-specing-height32);
            color: var(--vkl-text-text-black);
            font-weight: var(--vkl-weight-semibold);
            display:inline-block;
            position: relative;
            text-transform: capitalize;
        }
        & .para{
            padding-top: 8px;
            font-size: var(--vkl-font-size-font-s16);
            line-height: var(--vkl-specing-height24);
            color: var(--vkl-text-text-1);
            font-weight: var(--vkl-weight-regular);
        }
        & .blg-redmore{
            padding-top: 24px;
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            color: var(--vkl-text-text-black);
            font-weight: var(--vkl-weight-semibold);
            display: inline-block;
            position: relative;
            transition: .3s;
            & i{
                transform: rotate(-45deg);
                transition: .3s;
            }
            &::after{
                position: absolute;
                content: "";
                bottom: -1px;
                background: var(--vkl-text-text-black);
                height: 2px;
                width: 0%;
                left: auto;
                right: 0;
                transition: 0.4s;
            }
            &:hover{
                transform: translateY(-2px);
                transition: .3s;
                & i{
                    transform: rotate(0deg);
                    transition: .3s;
                }
                &::after{
                    width: 100%;
                    left: 0;
                    right: auto;
                    transition: 0.4s;
                }
            }
        }
    }
    &:hover{
        & .vl-blog-thumb{
            & img{
                transform: scale(1.1) rotate(-3deg);
                transition: .3s;
            }
        }
    }
}

.vl-blog-metaflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    & .tags{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-regular);
        transition: .3s;
        color: var(--vkl-text-text-black);
        display: inline-block;
        border: 1px solid var(--vkl-text-text-7);
        padding: 8px 12px;
        border-radius: 88px;
        &:hover{
            transform: translateY(2px);
            transition: .3s;
        }
    }
    & .date{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-1);
        transition: .3s;
    }
}


// multiline 
.underlinetext {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 1px), #101010 1px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

.vl-blog-content .title:hover .underlinetext {
  background-size: 100% 100%;
}


.vl-blog-swiper-btn{
    background: var(--vkl-bg-bg-3);
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50px;
    display: inline-block;
    color: var(--vkl-text-text-black);
    transition: .3s;
    text-align: center;
    &:hover{
        background: var(--vkl-text-text-black);
        color: var(--vkl-text-text-white);
        transition: .3s;
    }
    &.vl-blog-swiper-button-next{
        margin-right: 10px;
    }
}


// blog style 2 

.vl-blog-large-thumb2{
    background: var(--vkl-bg-bg-3);
    border-radius: 8px;
    overflow: hidden;
    & .vl-blog-thumb2{
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        height: 280px;
        object-fit: cover;
        & img{
            background-size: cover;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        & img:nth-child(1){
            -webkit-transform: translatex(50%) scalex(2);
            transform: translatex(50%) scalex(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
        & img:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    & .vl-blog-content-2{
        padding: 28px;
        & .vl-blog-meta-flex2{
            & .meta1{
                font-size: var(--vkl-font-size-font-s18);
                line-height: var(--vkl-specing-height18);
                font-weight: var(--vkl-weight-medium);
                color: var(--vkl-text-text-4);
                border-right: 1px solid #D7D7DF;
                padding-right: 7px;
                margin-right: 7px;
                display: inline-block;
                @media #{$md,$xs}{
                    border-right: 1px solid transparent;
                    padding-bottom: 10px;
                }
                & span{
                    & img{
                        margin-top: -4px;
                        margin-right: 4px;
                    }
                }
                &:last-child{
                    border: none;
                    @media #{$md,$xs}{
                        padding-bottom: 0px;
                    }
                }
            }
        }
        & .title{
            padding-top: 17px;
            padding-bottom: 22px;
            color: var(--vkl-text-text-4);
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height28);
            font-weight: var(--vkl-weight-semibold);
            transition: .3s;
            display: inline-block;
            &:hover{
                color: var(--vkl-text-text-5);
                transition: .3s;
            }
        }
    }
    &:hover{
        & .vl-blog-thumb2{
            & img:nth-child(1){
                -webkit-transform: translatex(0) scalex(1);
                transform: translatex(0) scalex(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }
            & img:nth-child(2){
                -webkit-transform: translatex(-50%) scalex(2);
                transform: translatex(-50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}
