@use '../../utils' as *;


/*----------------------------------------*/
/*  7.2 About css
/*----------------------------------------*/

.vl-thumb-1{
    & img{
        height: 470px;
        width: 470px;
        border-radius: 50%;
        @media #{$lg}{
            height: 400px;
            width: 400px;
        }
        @media #{$xs}{
            height: 100%;
            width: 100%;
        }
    }
}

.vl-thumb-2{
    position: relative;
    z-index: 1;
    float: right;
    margin-top: -245px;
    & img{
        border-radius: 16px;
        height: 360px;
        width: 300px;
        object-fit: cover;
    }
    &::after{
        position: absolute;
        content: "";
        left: -10px;
        top: -10px;
        height: 360px;
        width: 300px;
        background: var(--vkl-text-text-white);
        border-radius: 16px;
        z-index: -1;
    }
}


// solution home 2 

.vl-solution-box-wrap2{
    transition: .3s;
    & .vl-thumb{
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;
        transition: .3s;
        & img{
            height: 250px;
            object-fit: cover;
            width: 100%;
            transition: .3s;
        }
    }
    & .vl-content{
        & .title{
            display: inline-block;
            transition: .3s;
            padding-top: 24px;
            font-size: var(--vkl-font-size-font-s24);
            line-height: var(--vkl-specing-height24);
            color: var(--vkl-text-text-4);
            font-weight: var(--vkl-weight-semibold);
        }
        & .para{
            padding-top: 16px;
            transition: .3s;
            color: var(--vkl-text-text-1);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height26);
            font-weight: var(--vkl-weight-regular);
        }
        .solutation-more{
            padding-top: 28px;
            display: inline-block;
            transition: .3s;
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height20);
            font-weight: var(--vkl-weight-semibold);
            color: var(--vkl-text-text-black);
            & span{
                display: inline-block;
                transition: .3s;
            }
            &:hover{
                & span{
                    transform: rotate(-45deg);
                    transition: .3s;
                }
            }
        
        }

    }
    &:hover{
        background: var(--vkl-text-text-5);
        transition: .3s;
        & .vl-thumb{
            & img{
                transform: scale(1.1) rotate(3deg);
                transition: .3s;
            }
        }
        & .vl-content{
            & .title{
                transition: .3s;
                color: var(--vkl-text-text-white);
            }
            & .para{
                transition: .3s;
                color: rgba(255, 255, 255, 0.80);
            }
            .solutation-more{
                transition: .3s;
                color: var(--vkl-text-text-white);
            }
        }
    }
}

.vl-solution-box-wrap2{
    background: var(--vkl-text-text-white);
    padding: 20px;
    border-radius: 8px;
    transition: .3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    & .vl-thumb{
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        & img{
            background-size: cover;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            width: 100%;
            height: 100%;
            display: block;
        }
        & img:nth-child(1){
            -webkit-transform: translatex(50%) scalex(2);
            transform: translatex(50%) scalex(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
        & img:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &:hover{
        & .vl-thumb{
            & img:nth-child(1){
                -webkit-transform: translatex(0) scalex(1);
                transform: translatex(0) scalex(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }
            & img:nth-child(2){
                -webkit-transform: translatex(-50%) scalex(2);
                transform: translatex(-50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}



// about home 2 
.vl-about-box-wraper-2{
    & .vl-about-thumb2{
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;
        & img{
            background-size: cover;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            width: 100%;
            height: 570px;
            object-fit: cover;
            display: block;
            @media #{$md,$xs}{
                height: 100%;
            }
        }
        & img:nth-child(1){
            -webkit-transform: translatex(50%) scalex(2);
            transform: translatex(50%) scalex(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
        & img:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &:hover{
        & .vl-about-thumb2{
            & img:nth-child(1){
                -webkit-transform: translatex(0) scalex(1);
                transform: translatex(0) scalex(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }
            & img:nth-child(2){
                -webkit-transform: translatex(-50%) scalex(2);
                transform: translatex(-50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}

.vl-aboutbox-wrap-grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media #{$xs}{
        grid-template-columns: repeat(1, 1fr);
    }
}

.vl-sbout-counter-box2{
    & .title{
        font-size: var(--vkl-font-size-font-s44);
        line-height: var(--vkl-specing-height44);
        font-weight: var(--vkl-weight-semibold);
        color: var(--vkl-text-text-4);
    }
    & .para{
        padding-top: 18px;
        font-size: var(--vkl-font-size-font-s16);
        line-height: var(--vkl-specing-height24);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-1);
    }
}

.vl-about-box-wraper-3{
    & .vl-about-thumb3{
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;
        & img{
            background-size: cover;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            width: 100%;
            height: 460px;
            object-fit: cover;
            display: block;
            @media #{$md,$xs}{
                height: 100%;
            }
        }
        & img:nth-child(1){
            -webkit-transform: translatex(50%) scalex(2);
            transform: translatex(50%) scalex(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
        & img:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &:hover{
        & .vl-about-thumb3{
            & img:nth-child(1){
                -webkit-transform: translatex(0) scalex(1);
                transform: translatex(0) scalex(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }
            & img:nth-child(2){
                -webkit-transform: translatex(-50%) scalex(2);
                transform: translatex(-50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}


.vl-about-box-wraper-2 {
    margin-right: 20px;
    @media #{$lg,$md,$xs}{
        margin-right: 0;
    }
}

.vl-about-content2 {
    margin-left: 20px;
    @media #{$lg,$md,$xs}{
        margin-left: 0;
    }
}