@use '../../utils' as *;

/*----------------------------------------*/
/*  7.4 Fact css
/*----------------------------------------*/

.vl-choose-content {
    margin-right: 52px;
    @media #{$lg,$md,$xs}{
        margin-right: 0;
    }
    &-2{
        margin-left: 52px;
        @media #{$lg,$md,$xs}{
            margin-left: 0;
        }
    }
}

.vl-choose-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media #{$xs}{
        grid-template-columns: repeat(1, 1fr);
    }
}
.vl-choose-box{
    background: var(--vkl-bg-bg-3);
    padding: 32px;
    border-radius: 16px;
    text-align: center;
    transition: .3s;
    & .icon{
        & span{
            height: 70px;
            width: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50px;
            display: inline-block;
            background: var(--vkl-text-text-white);
            transition: .3s;
        }
    }
    & .title{
        color: var(--vkl-text-text-black);
        font-size: var(--vkl-font-size-font-s20);
        line-height: var(--vkl-specing-height20);
        font-weight: var(--vkl-weight-semibold);
        transition: .3s;
        padding-top: 24px;
    }
    &:hover{
        transform: translateY(-3px);
        transition: .3s;
        & .icon span img{
            animation-name: animate__shakeX;
            animation-duration: .3s;
            animation-fill-mode: both;
        } 
    }
}

.vl-choose-wrap{
    border-radius: 16px;
    background: var(--vkl-bg-bg-3);
    padding: 48px 32px;
    & .title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        font-weight: var(--vkl-weight-semibold);
        color: var(--vkl-text-text-black);
        padding-bottom: 32px;
    }
}

.vl-form-wrap{
    & label{
        font-size: var(--vkl-font-size-font-s16);
        line-height: var(--vkl-specing-height16);
        font-weight: var(--vkl-weight-semibold);
        color: var(--vkl-text-text-black);
        padding-bottom: 8px;
    }
    & input, & textarea{
        border: transparent;
        background: var(--vkl-text-text-white);
        border-radius: 8px;
        height: 48px;
        color: var(--vkl-text-text-1);
        font-size: var(--vkl-font-size-font-s16);
        font-weight: var(--vkl-weight-regular);
        &::placeholder{
            color: var(--vkl-text-text-1);
            font-size: var(--vkl-font-size-font-s16);
            font-weight: var(--vkl-weight-regular);
        }
        &:focus{
            border: 1px solid transparent;
        }
    }
    & textarea{
        height: 150px;
    }
}