@use '../../utils' as *;

/*----------------------------------------*/
/*  7.3 Service css
/*----------------------------------------*/

.vl-service{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vl-service-box{
    border-radius: 16px;
    background: var(--vkl-bg-bg-4);
    box-shadow: 0 -4px 40px 0 rgba(0, 0, 0, 0.04);
    padding: 32px 24px;
    text-align: center;
    transition: .3s;
    & .icon{
        & span{
            background: var(--vkl-bg-bg-3);
            height: 70px;
            width: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50px;
            display: inline-block;
            transition: .3s;
            position: relative;
            z-index: 1;
            overflow: hidden;
            &::after{
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: var(--vkl-text-text-black);
                z-index: -1;
                transition: .3s;
                transform: scaleX(0);
            }
        }
    }
    & .title{
        color: var(--vkl-text-text-black);
        font-size: var(--vkl-font-size-font-s20);
        line-height: var(--vkl-specing-height20);
        font-weight: var(--vkl-weight-semibold);
        transition: .3s;
        margin-top: 32px;
    }
    & .para{
        color: var(--vkl-text-text-1);
        font-size: var(--vkl-font-size-font-s16);
        font-weight: var(--vkl-weight-regular);
        line-height: var(--vkl-specing-height24);
        padding-top: 10px;
    }
    & .vl-btn-link{
        margin-top: 33px;
        color: var(--vkl-text-text-black);
        font-size: var(--vkl-font-size-font-s18);
        font-weight: var(--vkl-weight-semibold);
        line-height: var(--vkl-specing-height18); 
        text-transform: capitalize;
        display: inline-block;
        transition: .3s;
        position: relative;
        & span{
            display: inline-block;
            transform: rotate(-45deg);
            transition: .3s;
        }
        &::after{
            position: absolute;
            content: "";
            bottom: -1px;
            background: var(--vkl-text-text-black);
            height: 2px;
            width: 0%;
            left: auto;
            right: 0;
            transition: 0.4s;
        }
        &:hover{
            transform: translateY(-2px);
            transition: .3s;
            & span{
                transform: rotate(0deg);
                transition: .3s;
            }
            &::after{
                width: 100%;
                left: 0;
                right: auto;
                transition: 0.4s;
            }
        }
    }
    &:hover{
        transition: .3s;
        transform: translateY(-3px);
        & .icon{
            & span{
                transform: rotateX(-180deg);
                transition: .3s;
                &::after{
                    transform: scaleX(1);
                    transition: .3s;
                }
            }
        }
    }
}

.center-icon{
    span{
        background: var(--vkl-text-text-white);
        height: 260px;
        width: 260px;
        line-height: 260px;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
    }
}

.vl-services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    align-items: center;
    justify-items: center;
    position: relative;
    @media #{$md}{
        grid-template-columns: repeat(2, 1fr); 
    }
    @media #{$xs}{
        grid-template-columns: repeat(1, 1fr); 
    }
}

.vl-services-grid > .vl-service-box:nth-child(1){
    grid-column: 2;
    grid-row: 1;
    @media #{$md,$xs}{
        grid-column: inherit;
        grid-row: inherit;
    }
}

.vl-services-grid > .vl-service-box:nth-child(2){
     grid-column: 1; 
     grid-row: 2;
     @media #{$md,$xs}{
        grid-column: inherit;
        grid-row: inherit;
    }
}
.vl-services-grid > .center-icon   {
     grid-column: 2; grid-row: 2;
     
}
.vl-services-grid > .vl-service-box:nth-child(4){
     grid-column: 3; grid-row: 2;
     @media #{$md,$xs}{
        grid-column: inherit;
        grid-row: inherit;
    }
     
}
.vl-services-grid > .vl-service-box:nth-child(5){
     grid-column: 2; grid-row: 3;
     @media #{$md,$xs}{
        grid-column: inherit;
        grid-row: inherit;
    }
}

