@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 Testimonial css
/*----------------------------------------*/

.vl-testimonial{
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vl-test-slider-space {
    margin-right: -445px;
    @media #{$md,$xs}{
        margin-right: 0;
    }
}

.vl-testimonial-box{
    background: var(--vkl-text-text-white);
    border-radius: 16px;
    padding: 24px;
    position: relative;
    & .para{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height32);
        color: var(--vkl-text-text-1);
        font-weight: var(--vkl-weight-regular);
        transition: .3s;
        border-bottom: 1px solid #E7E7E7;
        padding-top: 20px;
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
    & .vl-testimonial-icon{
        text-align: right;
        & i{
            padding: 4px;
            border-radius: 2px;
            background: var(--vkl-bg-bg-3);
            color: var(--vkl-text-text-6);
            font-size: 20px;
        }
    }
}

.vl-testimonial-quote{
    position: absolute;
    top: 16px;
}

.vl-testimonial-auth-flex{
    display: flex;
    align-items:center;
    & .vl-test-auth{
        margin-right: 16px;
        & img{
            height: 70px;
            width: 70px;
            border-radius: 50px;
            object-fit: cover;
        }
    }
    & .vl-test-content{
        & .title{
            font-size: var(--vkl-font-size-font-s20);
            line-height: var(--vkl-specing-height20);
            color: var(--vkl-text-text-black);
            font-weight: var(--vkl-weight-semibold);
            transition: .3s;
        }
        & .position{
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
            color: var(--vkl-text-text-1);
            transition: .3s;
            padding-top: 12px;
        }
    }
}

.vl-review-button{
    height: 60px;
    width: 60px;
    line-height: 60px;
    background: var(--vkl-bg-bg-3);
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    &:hover{
        color: var(--vkl-text-text-white);
        background: var(--vkl-text-text-black);
        transition: all 0.3s ease;
    }
}

.vl-review-buttons {
    position: absolute;
    top: -170px;
    z-index: 1;
    right: 0;
    @media #{$md,$xs}{
        position: relative;
        margin-top: 30px;
        top: 0;
        text-align: center;
    }
}

.vl-review-button-prev{
    margin-right: 10px;
}

.review__box-flex{
    margin-right: 16px;
    display: flex;
    padding: 16px;
    border-radius: 16px;
    background: var(--vkl-text-text-white);
    @media #{$xs}{
        display: block;
    }
}

.review__box1 {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    & i{
        margin-right: 10px;
    }
    & .para{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-black);
    }
}
.review__box2 {
    display: inline-flex;
    align-items: center;
    & span{
        & img{
            margin-right: 10px;
        }
    }
    & .para{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-black);
    }
}

.testimonial__review__mainwrap{
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$xs}{
        display: block;
    }
}
.review__box3{
    & .morereviw{
        background: var(--vkl-text-text-black);
        border-radius: 8px;
        padding: 16px;
        color: var(--vkl-text-text-white);
        position: relative;
        display: inline-block;
        transition: .3s;
        &:after {
            position: absolute;
            content: "";
            height: 1px;
            width: 0%;
            background: var(--vkl-text-text-white);
            left: auto;
            right: 0;
            bottom: 16px;
            margin-left: 18px;
            margin-right: 18px;
            transition: .3s;
        }
        &:hover{
            transform: translateY(-3px);
            transition: .3s;
            &:after{
                left: 0;
                right: auto;
                width: 80%;
                transition: .3s;
            }
        }

        @media #{$xs}{
            margin-top: 20px;
        }
        
    }
}


// testimonial review box 2

.vl-testimonial-box2{
    padding: 32px;
    border-radius: 8px;
    border: 1px solid rgba(14, 8, 43, 0.10);
    position: relative;
    z-index: 1;
    transition: .3s;
    overflow: hidden;
    & .vl-icon{
        & i{
            border-radius: 2px;
            background: var(--vkl-bg-bg-3);
            color: var(--vkl-text-text-8);
            height: 28px;
            width: 28px;
            display: inline-block;
            line-height: 28px;
            text-align: center;
            margin-left: 3px;
            transition: .3s;
        }
    }
    & .vl-content{
        & .para{
            padding-top: 16px;
            color: var(--vkl-text-text-1);
            font-size: var(--vkl-font-size-font-s24);
            font-style: normal;
            font-weight: var(--vkl-weight-regular);
            line-height: var(--vkl-specing-height32);
            padding-bottom: 48px;
            transition: .3s;
        }
    }
    & .vl-testimonial-authflex{
        display: flex;
        align-items: center;
        & .vl-auth-thumb{
            & span{
                & img{
                    height: 70px;
                    width: 70px;
                    border-radius: 50px;
                    object-fit: cover;
                    margin-right: 16px;
                }
            }
        }
        & .vl-auth-content{
            & .title{
                transition: .3s;
                color: var(--vkl-text-text-4);
                font-size: var(--vkl-font-size-font-s20);
                line-height: var(--vkl-specing-height20);
                font-weight: var(--vkl-weight-semibold);
            }
            & .position{
                transition: .3s;
                color: var(--vkl-text-text-1);
                font-size: var(--vkl-font-size-font-s18);
                font-weight: var(--vkl-weight-regular);
                line-height: var(--vkl-specing-height18);
                padding-top: 16px;
            }
        }
    }
    &::after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: var(--vkl-text-text-5);
        transition: .3s;
        z-index: -1;
        transform: scaleX(0);
        transition: .3s;
    }
    &:hover{
        transform: translateY(-3px);
        &::after{
            transform: scaleX(1);
            transition: .3s;
        }
        & .vl-icon{
            & i{
                background: rgba(255, 255, 255, 0.20);
                transition: .3s;
            }
        }
        & .vl-content{
            & .para{
                color: rgba(255, 255, 255, 0.80);
                transition: .3s;
            }
        }
        & .vl-testimonial-authflex{
            & .vl-auth-content{
                & .title{
                    color: var(--vkl-text-text-white);
                    transition: .3s;
                }
                & .position{
                    color: rgba(255, 255, 255, 0.80);
                    transition: .3s;
                }
            }
        }    
    }
}

.vl-testimonial-btn-2{
    text-align: right;
    @media #{$md,$xs}{
        text-align: start;
        margin-bottom: 30px;
    }
}
// testimonial image hover 2 

.vl-testimonial-large-thumb2{
    & .vl-testimonial-thumb2{
        position: relative;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        height: 354px;
        object-fit: cover;
        border-radius: 8px;
        & img{
            background-size: cover;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            width: 100%;
            height: 100%;
            display: block;
        }
        & img:nth-child(1){
            -webkit-transform: translatex(50%) scalex(2);
            transform: translatex(50%) scalex(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }
        & img:nth-child(2){
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &:hover{
        & .vl-testimonial-thumb2{
            & img:nth-child(1){
                -webkit-transform: translatex(0) scalex(1);
                transform: translatex(0) scalex(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0);
            }
            & img:nth-child(2){
                -webkit-transform: translatex(-50%) scalex(2);
                transform: translatex(-50%) scalex(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }
    }
}

