$colors: (
    'text': (
        'text-black': #101010,
        'text-white': #fff,
        'text-1':#46475F,
        'text-2':#3A3C3F,
        'text-3':#FC7023,
        'text-4':#0E082B,
        'text-5':#3A0CA3,
        'text-6':#FBBC05,
        'text-7':#D7D8DC,
        'text-8':#FFD322,

        ),
    'bg': (
        'bg-1':#fff,
        'bg-2':#C3E6FC,
        'bg-3':#EDEEF3, 
        'bg-4':#F7F8FD,
        
    ),
    'border': (
        'border-1': #E5E7EB,
        'border-2': #dfdcdc,
    )
);  