
/*----------------------------------------*/
/*  2.7 collection Title
/*----------------------------------------*/

.vl-clip-anim {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  position: relative;
}
.vl-clip-anim .vl-anim-img {
  opacity: 0;
  width: 100%;
  height: 100%;
}
.vl-clip-anim .mask {
  background-size: cover;
  background-position: center;
  transform: scale(1.005);
}
.vl-clip-anim > * {
  grid-area: 1/1/2/2;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

