@use '../../utils' as *;


/*----------------------------------------*/
/*  7.2 About css
/*----------------------------------------*/

.vl-about-item-thumb{
    img {
        height: 370px !important;
    }
    &-2{
        & img{
            height: 603px !important;
        }
    }
    &-3{
        & img{
            height: 442px !important;
        }
    }
    &-4{
        & img{
            height: 582px !important;
        }
    }
    &-5{
        & img{
            height: 500px !important;
        }
    }
    &-6{
        & img{
            height: 300px !important;
        }
    }
    &-7{
        & img{
            height: 478px !important;
            @media #{$md,$xs}{
                height: 100% !important;
            }
        }
    }
    &-8{
        & img{
            height: 430px !important;
        }
    }
    &-9{
        & img{
            height: 570px !important;
        }
    }
    &-10{
        & img{
            height: 360px !important;
        }
    }
    &-11{
        & img{
            height: 612px !important;
        }
    }
    &-12{
        & img{
            height: 380px !important;
        }
    }
    &-13{
        & img{
            height: 500px !important;
        }
    }
    &-14{
        & img{
            height: 408px !important;
        }
    }
    &-15{
        & img{
            height: 510px !important;
        }
    }
    &-16{
        & img{
            height: 660px !important;
        }
    }
    &-17{
        margin-left: 44px;
        @media #{$lg,$md,$xs}{
            margin-left: 0;
        }
        & img{
            height: 680px !important;
        }
    }
    &-18{
        & img{
            height: 306px !important;
        }
    }
    &-19{
        & img{
            height: 484px !important;
        }
    }
}



.vkl-about-exp-box{
    text-align: center;
    padding: 27px;
    border-radius: 16px;
    text-align: center;
    background: var(--vkl-text-text-2);
    &-title{
        font-size: var(--vkl-font-size-font-s44);
        line-height: var(--vkl-specing-height52);
        color: var(--vkl-text-text-white);
        font-family: var(--vkl-family-font1) !important;
    }
    &-desc{
        color: rgba(255, 255, 255, 0.90);
    }
    & .symbol{
        color: var(--vkl-text-text-white);
        font-size: var(--vkl-font-size-font-s44);
        top: 8px;
        position: relative;
    }
    &-2{
        display: flex;
        align-items: center;
        background: var(--vkl-bg-bg-1);
        border-radius: 8px;
        & .vkl-about-exp-box{
            &-title{
                color: var(--vkl-text-text-black);
            }
            &-desc{
                color: var(--vkl-text-text-black);
                margin-left: 16px;
            }
        }
        & .symbol{
            color: var(--vkl-text-text-black);
            top: inherit;
        }
    }
}

.vkl-about-wrap-6{
    margin-right: 22px;
    @media #{$lg,$md,$xs}{
        margin-right: 0;
    }
}

.vkl-about-thumb-6{
    margin-right: 22px;
    @media #{$lg,$md,$xs}{
        margin-right: 0;
    }
}

.vl-about-content-wrap-7{
    background: var(--vkl-bg-bg-1);
    border-radius: 8px;
    padding: 40px;
    position:relative;
    z-index: 1;
}

.vkl-about-wrap-7 {
    width: 600px;
    @media #{$lg,$md,$xs}{
        width: 100%;
    }
    &-10{
        width: 750px;
        @media #{$lg,$md,$xs}{
            width: 100%;
        }
    }
}


.vkl-about-7{
    padding-top: 327px;
    margin-top: -255px;
}


// about style 10 

.vl-about-content-wrap-10{
    background: var(--vkl-text-text-white);
    border-radius: 8px;
    padding: 50px 32px;
    position:relative;
    z-index: 1;
}