@use '../../utils' as *;


/*----------------------------------------*/
/*  7.2 About css
/*----------------------------------------*/

.vl-about-item-thumb{
    img {
        height: 370px !important;
    }
    &-2{
        & img{
            height: 603px !important;
        }
    }
    &-3{
        & img{
            height: 442px !important;
        }
    }
    &-4{
        & img{
            height: 582px !important;
        }
    }
    &-5{
        & img{
            height: 500px !important;
        }
    }
    &-6{
        & img{
            height: 300px !important;
        }
    }
}

