@use '../../utils' as *;


/*----------------------------------------*/
/*  7.2 About css
/*----------------------------------------*/

.vl-about-item-thumb{
    img {
        height: 370px !important;
    }
    &-2{
        & img{
            height: 603px !important;
        }
    }
    &-3{
        & img{
            height: 442px !important;
        }
    }
    &-4{
        & img{
            height: 582px !important;
        }
    }
    &-5{
        & img{
            height: 500px !important;
        }
    }
    &-6{
        & img{
            height: 300px !important;
        }
    }
    &-7{
        & img{
            height: 478px !important;
            @media #{$md,$xs}{
                height: 100% !important;
            }
        }
    }
    &-8{
        & img{
            height: 430px !important;
        }
    }
    &-9{
        & img{
            height: 570px !important;
        }
    }
    &-10{
        & img{
            height: 360px !important;
        }
    }
    &-11{
        & img{
            height: 612px !important;
        }
    }
    &-12{
        & img{
            height: 380px !important;
        }
    }
}


.vkl-about-exp-box{
    text-align: center;
    padding: 27px;
    border-radius: 16px;
    text-align: center;
    background: var(--vkl-text-text-2);
    &-title{
        font-size: var(--vkl-font-size-font-s44);
        line-height: var(--vkl-specing-height52);
        color: var(--vkl-text-text-white);
    }
    &-desc{
        color: rgba(255, 255, 255, 0.90);
    }
}

.vkl-about-wrap-6{
    margin-right: 22px;
    @media #{$lg,$md,$xs}{
        margin-right: 0;
    }
}