@use '../../utils' as *;


/*----------------------------------------*/
/*  7.1 Banner css
/*----------------------------------------*/

.vkl-banner-area{
    padding-top: 196px;
    padding-bottom: 80px;
}

// shape 
.shape-1 {
    top: 295px;
    right: 200px;
}

.shape-2{
    top: 116px;
    img {
        height: 532px;
    }
}

.vkl-banner-large-thumb{
    margin-top: -2px;
    & img{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}