@use '../../utils' as *;


/*----------------------------------------*/
/*  7.1 Banner css
/*----------------------------------------*/

.vkl-banner-area{
    padding-top: 196px;
    padding-bottom: 80px;
    &-2{
        padding-top: 230px;
        padding-bottom: 130px;
    }
}

// shape 
.shape-1 {
    top: 295px;
    right: 200px;
    @media #{$lg,$md,$xs}{
        right: 60px;
    }
    &-1{
        top: 143px;
    }
}

.shape-2{
    top: 116px;
    img {
        height: 532px;
    }
    &-2{
        top: 88px;
        & img{
            height: 434px;
        }
    }
}

.vkl-banner-large-thumb{
    margin-top: -2px;
    & img{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}


// banner appointment 2 

.vkl-appointment-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &-title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-5);
        margin-right: 12px;
        @media #{$xs}{
            padding-bottom: 10px;
        }
    }
    &-number{
        font-family: var(--vkl-family-font1);
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-2);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-1);
            transition: .3s;
        }
    }
}

.vkl-appointment-menulist{
    & a{
        color: var(--vkl-text-text-3);
        font-family: var(--vkl-family-font1);
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-regular);
        margin-right: 8px;
        padding-right: 8px;
        border-right: 3px solid var(--vkl-text-text-3);
        transition: .3s;
        &:last-child{
            border-right: inherit;
        }
        &:hover{
            transition: .3s;
            color: var(--vkl-text-text-2);
        }
    }
}

.vkl-banner-shape2{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.vkl-banner-main-thumb {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.vkl-bg-left-shape{
    position: absolute;
    left: 0;
    bottom: 0;
}

.vkl-banner-4{
    padding-bottom: 285px;
    position: relative;
}

.vkl-banner-thumb4{
    margin-top: -285px;
}