@use '../../utils' as *;


/*----------------------------------------*/
/*  7.1 Banner css
/*----------------------------------------*/

.vkl-banner-area{
    padding-top: 196px;
    padding-bottom: 80px;
    &-2{
        padding-top: 230px;
        padding-bottom: 130px;
    }
    &-7{
        padding-top: 280px;
        padding-bottom: 357px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        &::after{
            position: absolute;
            content: "";
            right: 50%;
            top: 0;
            height: 100%;
            width: 100%;
            background: var(--vkl-bg-bg-1);
            z-index: -1;
            background-image: url(/assets/img/physiotherapy/banner/vkl-bg-right7.2.png);
        }
    }
}

// shape 
.shape-1 {
    top: 295px;
    right: 200px;
    @media #{$lg,$md,$xs}{
        right: 60px;
    }
    &-1{
        top: 143px;
    }
}

.shape-2{
    top: 116px;
    img {
        height: 532px;
    }
    &-2{
        top: 88px;
        & img{
            height: 434px;
        }
    }
}

.vkl-banner-large-thumb{
    margin-top: -2px;
    & img{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}


// banner appointment 2 

.vkl-appointment-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &-title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-5);
        margin-right: 12px;
        @media #{$xs}{
            padding-bottom: 10px;
        }
    }
    &-number{
        font-family: var(--vkl-family-font1);
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        font-weight: var(--vkl-weight-regular);
        color: var(--vkl-text-text-2);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-1);
            transition: .3s;
        }
    }
    &-2{
        & .vkl-appointment-flex{
            &-title{
                color: var(--vkl-text-text-white);
            }
            &-number{
                color: var(--vkl-text-text-1);
            }
        }
    }
    &-6{
        & .vkl-appointment-flex{
            &-title{
                color: var(--vkl-text-text-white);
            }
            &-number{
                color: var(--vkl-text-text-1);
            }
        }
    }
}

.vkl-appointment-menulist{
    & a{
        color: var(--vkl-text-text-3);
        font-family: var(--vkl-family-font1);
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-regular);
        margin-right: 8px;
        padding-right: 8px;
        border-right: 3px solid var(--vkl-text-text-3);
        transition: .3s;
        &:last-child{
            border-right: inherit;
        }
        &:hover{
            transition: .3s;
            color: var(--vkl-text-text-2);
        }
    }
    &-2{
        & a{
            color: rgba(255, 255, 255, 0.90);
            &:hover{
                color: var(--vkl-text-text-1);
                transition: .3s;
            }
        }
    }
    &-6{
        & a{
            border-right: 1px solid var(--vkl-text-text-white);
        }
    }
}

.vkl-appointment-content{
    &-6{

    }
}

.vkl-banner-shape2{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.vkl-banner-main-thumb {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.vkl-bg-left-shape{
    position: absolute;
    left: 0;
    bottom: 0;
}

.vkl-banner-4{
    padding-bottom: 285px;
    position: relative;
}

.vkl-banner-thumb4{
    margin-top: -285px;
}

// banner style 3 

.vkl-banner-thumb-3 {
    position: absolute;
    right: 0;
    top:200px;
    & img {
        height: 800px;
    }
}

.vkl-banner-thumb-3-sm{
    position: absolute;
    left: 46%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    @media #{$xxl}{
        left: 30%;
    }
}

.vkl-banner-content-wrap-4{
    margin-right: 50px;
}

.vkl-hero-content{
    &-6{
        padding-right: 70px;
        @media #{$lg,$md,$xs}{
            padding-right: 0;
        }
    }
}

.vkl-start-review5{
    & ul{
        & li{
            color: var(--vkl-text-text-6);
            display: inline-block;
        }
    }
}

.vkl-group-thumb-flex-5{
    display: flex;
    align-items: center;
    & .vkl-group-thumb {
        margin-right: 16px;
        padding-right: 16px;
        border-right: 1px solid var(--vkl-text-text-white);
    }
}


.vkl-ply-btn-flex{
    display: flex;
    align-items: center;
    & .vkl-pay-icon{
        & a{
            height: 52px;
            width: 52px;
            line-height: 52px;
            border-radius: 50px;
            display: inline-block;
            text-align: center;
            background: var(--vkl-text-text-white);
            margin-right: 12px;
        }
    }
    & .play-content{
        color: var(--vkl-text-text-white);
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-semibold);
    }
}


.vkl-hero-wrap{
    &-5{
        display: flex;
        align-items: center;
    }
}

.vkl-banner-thumb-5{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    & img{
        height: 100%;
    }
}

// hero content 7 

.vkl-hero-content{
    &-7{
        padding-right: 70px;
        @media #{$lg,$md,$xs}{
            padding-right: 0;
        }
        & .vkl-section-title{
            & .sub-title{
                color:var(--vkl-text-text-black);
                background: var(--vkl-bg-bg-2);
            }
            & .title{
                color: var(--vkl-text-text-black);
            }
            & .para{
                font-size: var(--vkl-font-size-font-s18);
                line-height: var(--vkl-specing-height26);
                font-weight: var(--vkl-weight-regular);
                color: var(--vkl-text-text-black);
            }
        }
    }
}
