@use '../../utils' as *;

/*----------------------------------------*/
/*  7.10 Contact css
/*----------------------------------------*/

.vkl-contact-bg-wrap{
    margin-left: 85px;
    margin-right: 85px;
    @media #{$lg,$md,$xs}{
       margin-left: 0;
       margin-right: 0;
    }
}

.vkl-contact-wrap {
    padding-right: 75px;
    @media #{$lg,$md,$xs}{
        padding-right: 0;
    }
}


.vkl-contact-wrap .vkl-section-title {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #DCE2DD;
}

.vkl-contact-form-wrap{
    padding: 32px;
    & .vkl-contact-title{
        line-height: var(--vkl-specing-height24);
    }
    & .desc{
        color: var(--vkl-text-text-3);
        line-height: var(--vkl-specing-height26);
        font-weight: var(--vkl-weight-medium);
        padding-top: 16px;
        padding-bottom: 32px;
    }
}


.vl-form-wrap{
    & input, & textarea{
        border: 1px solid var(--vkl-border-border-4);
        border-radius: 8px;
        color: var(--vkl-text-text-3);
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-medium);
        background: transparent;
        height: 54px;
        width: 100%;
        padding: 10px;
        &::placeholder{
            color: var(--vkl-text-text-3);
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
        }
        &:focus{
        border: 1px solid transparent;
    }
    }
    & textarea{
        height: 150px;
    }
    &:focus{
        border: 1px solid transparent;
    }
    &-2{
        & input, & textarea{
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.10);
            color: rgba(255, 255, 255, 0.90);
            &::placeholder{
                color: rgba(255, 255, 255, 0.90);
            }
            &:focus{
                border: 1px solid transparent;
            }
        }
        input[type="date"]{
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.10) !important;
            color: rgba(255, 255, 255, 0.90);
            &:focus{
                background: rgba(255, 255, 255, 0.10) !important;
            }
        }
    }
}

.form-clt{
    .nice-select.single-select{
        background: transparent;
        border: 1px solid var(--vkl-border-border-4);
        border-radius: 8px;
        height: 54px;
        line-height: 54px;
        font-size: 18px;
        &-2{
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.10);
            color: rgba(255, 255, 255, 0.90);
            &::placeholder{
                color: rgba(255, 255, 255, 0.90);
            }
            &:focus{
                border: 1px solid transparent;
            }
            & .list{
                background: var(--vkl-bg-bg-1);
                color: var(--vkl-text-text-black);
            }
            .nice-select:after {
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                content: '';
                height: 8px;
                width: 8px;
            }
        }
    }
    
    ul.list {
        width: 100%;
    }
    .nice-select:after {
        border-bottom: 2px solid var(--vkl-text-text-3);
        border-right: 2px solid var(--vkl-text-text-3);
        content: '';
        height: 8px;
        width: 8px;
    }
    .nice-select.single-select-2:after {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        content: '';
        height: 8px;
        width: 8px;
    }
}

input[type="date"]:focus-visible,
input[type="date"]:focus {
    outline: none !important;
    background: transparent !important;
    box-shadow: none !important;
}