@use '../../utils' as *;

/*----------------------------------------*/
/*  7.10 Contact css
/*----------------------------------------*/

.vkl-contact-bg-wrap{
    margin-left: 85px;
    margin-right: 85px;
}

.vkl-contact-wrap {
    padding-right: 75px;
    @media #{$lg,$md,$xs}{
        padding-right: 0;
    }
}


.vkl-contact-wrap .vkl-section-title {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #DCE2DD;
}
