@use '../../utils' as *;


/*----------------------------------------*/
/*  7.5 Fact css
/*----------------------------------------*/

.vkl-case-item-2{
    position: relative;
    z-index: 1;
    &-desc{
        color: var(--vkl-text-text-black);
        padding: 8px 10px;
        background: var(--vkl-bg-bg-1);
        transition: .3s;
        display: inline-block;
        font-size: var(--vkl-font-size-font-s16);
        line-height: var(--vkl-specing-height16);
        font-weight: var(--vkl-weight-medium);
    }
    &-title{
        font-size: var(--vkl-font-size-font-s20);
        line-height: var(--vkl-specing-height20);
        transition: .3s;
        @media #{$md,$xs}{
            line-height: var(--vkl-specing-height30);
        }
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
        }
    }
    & .overlay-bg {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 0%;
        width: 100%;
        background: var(--vkl-text-text-black);
        opacity: .5;
        transition: all 500ms ease;
    }
    & .vkl-up-arrow{
        background: var(--vkl-text-text-1);
        height: 80px;
        width: 80px;
        display: grid;
        place-content: center;
        border-radius: 50px;
        position: absolute;
        top: 10%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: all .3s;
        opacity: 0;
        visibility: hidden;
    }
    &:hover{
        & .vkl-case-item-2{
            &-desc{
                background: var(--vkl-text-text-1);
                transition: .3s;
            }
        }
        & .overlay-bg{
            height: 100%;
        }
        & .vkl-up-arrow{
            top: 50%;
            opacity: 1;
            visibility: visible;
            transition: .5s;
        }
    }
}