@use '../../utils' as *;

/*----------------------------------------*/
/*  7.12 Profile css
/*----------------------------------------*/

.vkl-work-wrap {
    margin-left: 25px;
    @media #{$lg,$md,$xs}{
        margin-left: 0;
    }
}

.vkl-work-item-thumb img.vl-anim-img {
    height: 832px;
    object-fit: cover; 
    @media #{$xs}{
        height: 100%;
    }
}
.vkl-work-item-thumb {
    margin-right: 20px;
    @media #{$lg,$md,$xs}{
        margin-right: 0;
    }
}

.vkl-work-item{
    border: 1px solid #2B412A;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    transition: .3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @media #{$xs}{
        display: block;
    }
    &::after{
        position: absolute;
        content: "";
        left: 0;
        top: auto;
        bottom: 0;
        height: 0;
        width: 100%;
        background: var(--vkl-bg-bg-1);
        transition: .3s;
        z-index: -1;
    }
    &-icon{
        & span{
            height: 70px;
            width: 70px;
            display: grid;
            place-content: center;
            background: var(--vkl-text-text-2);
            border-radius: 50px;
            transition: .3s;
            margin-right: 24px;
            & img{
                filter: brightness(0) invert(1);
                transition: .3s;
            }
            @media #{$xs}{
                margin-bottom: 16px;
            }
        }
        &-2{
            & span{
                background: var(--vkl-bg-bg-1);
                & img{
                    filter: inherit;
                    transition: .3s;
                }
            }
        }
    }
    &-title{
        color: var(--vkl-text-text-white);
        transition: .3s;
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        &-2{
            color: var(--vkl-text-text-black);
        }
        @media #{$xs}{
            line-height: var(--vkl-specing-height32);
        }
    }
    &-desc{
        color: rgba(255, 255, 255, 0.90);
        transition: .3s;
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height26);
        padding-top: 16px;
        &-2{
            color: var(--vkl-text-text-3);
        }
    }
    &:hover{
        &::after{
            height: 100%;
            transition: .3s;
            top: 0;
            bottom: auto;
        }
        & .vkl-work-item{
            &-icon{
                & span{
                    transition: .3s;
                    background: var(--vkl-text-text-1);
                    transform: rotateY(-180deg);
                    & img{
                        filter: inherit;
                        transition: .3s;
                    }
                }
            }
            &-title{
                color: var(--vkl-text-text-black);
                transition: .3s;
                &:hover{
                    color: var(--vkl-text-text-2);
                    transition: .3s;
                }
            }
            &-desc{
                color: var(--vkl-text-text-3);
                transition: .3s;
            }
        }
    }
    &-style-2{
        border: transparent;
        padding: 0;
        &::after{
            background: transparent;
        }
    }
    &-style-3{
        border: 1px solid rgba(19, 44, 18, 0.10);
        padding: 32px 28px;
        display: block;
        & .vkl-work-item{
            &-icon{
                & span{
                    background: var(--vkl-bg-bg-2);
                    & img{
                        filter: inherit;
                    }
                }
            }
            &-title{
                color: var(--vkl-text-text-black);
                padding-top: 100px;
            }
            &-desc{
                color: var(--vkl-text-text-3);
            }
        }
        &::after{
            background: transparent;
        }
        &:hover{
            background: var(--vkl-bg-bg-2);
        }
    }
    &-style-4{
        padding: 0;
        border: transparent;
        margin-bottom: 60px;
        @media #{$lg,$md,$xs}{
            display: flex;
            flex-direction: column-reverse;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &::after{
            background: transparent;
        }
        & .vkl-work-item{
            &-content{
                text-align: end;
                @media #{$lg,$md,$xs}{
                    text-align: start;
                }
            }
            &-icon{
                & span{
                    margin-left: 24px;
                    margin-right: 0;
                    background: var(--vkl-text-text-2);
                    & img{
                        filter: inherit;
                    }
                    @media #{$lg,$md,$xs}{
                        margin-left: 0;
                        margin-bottom: 20px;
                    }
                }
            }
            &-title{
                color: var(--vkl-text-text-black);
            }
            &-desc{
                color: var(--vkl-text-text-3);
            }
        }
    }
    &-style-5{
        padding: 0;
        border: transparent;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row-reverse;
        @media #{$lg,$md,$xs}{
            display: flex;
            flex-direction: column-reverse;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &::after{
            background: transparent;
        }
        & .vkl-work-item{
            &-content{
                text-align: start;
                @media #{$lg,$md,$xs}{
                    text-align: start;
                }
            }
            &-icon{
                & span{
                    margin-left: 0;
                    margin-right: 24px;
                    background: var(--vkl-text-text-2);
                    & img{
                        filter: inherit;
                    }
                    @media #{$lg,$md,$xs}{
                        margin-left: 0;
                        margin-bottom: 20px;
                    }
                }
            }
            &-title{
                color: var(--vkl-text-text-black);
            }
            &-desc{
                color: var(--vkl-text-text-3);
            }
        }
    }
    &-style-6{
        border: 1px solid rgba(19, 44, 18, 0.10);
        padding: 32px;
        display: block;
        text-align: center;
        position: relative;
        z-index: 1;
        @media #{$md,$xs}{
            padding: 15px;
        }
        & .vkl-work-item{
            &-icon{
                text-align: center;
                & span{
                    display: inline-block;
                    margin-right: 0;
                    background: var(--vkl-bg-bg-1);
                    & img{
                        filter: inherit;
                    }
                }
            }
            &-title{
                padding-top: 32px;
                color: var(--vkl-text-text-black);
            }
            &-desc{
                color: var(--vkl-text-text-3);
                padding-bottom: 24px;
            }
        }
        & .vkl-lern-more{
            color: var(--vkl-text-text-black);
            font-weight: var(--vkl-weight-semibold);
            line-height: var(--vkl-specing-height18);
            & span{
                display: inline-block;
                transform: rotate(-45deg);
                transition: .3s;
                margin-left: 2px;
            }
            &:hover{
                color: var(--vkl-text-text-1);
                & span{
                    transform: rotate(0);
                    transition: .3s;
                }
            }
        }
        &::after{
            border-radius: 8px;
            opacity: 0.85;
            background:#4CAE47;
        }
        & .vkl-ser-thumb-6 {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            transform: scale(.9);
            transition: .3s;
            opacity: 0;
            & img {
                width: 100%;
            }
        }
        &:hover{
            background: var(--vkl-bg-bg-2);
            & .vkl-work-item{
                &-title{
                    color: var(--vkl-text-text-white);
                    &:hover{
                        color: var(--vkl-text-text-1);
                    }
                }
                &-desc{
                    color: rgba(255, 255, 255, 0.90);
                }
            }
            & .vkl-lern-more{
                color: var(--vkl-text-text-white);
                &:hover{
                    color: var(--vkl-text-text-1);
                    transition: .3s;
                }
            }
            & .vkl-ser-thumb-6 {
                transform: scale(1);
                transition: .3s;
                opacity: 1;
            }
        }
    }
}










.vkl-work-bg-shape {
    position: absolute;
    top: 0;
    bottom: 0;
}
.vkl-work-bg-shape img {
    height: 100%;
}

// work style 2 
.vkl-work-item-2{
    text-align: center;
    padding: 0 15px;
    @media #{$md,$xs}{
        padding: 0;
    }
    &-number{
        font-size: 80px;
        line-height: 88px;
    }
    &-title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        transition: .3s;
        padding-top: 32px;
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
        }
    }
    &-desc{
        color: var(--vkl-text-text-3);
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height26);
        transition: .3s;
        padding-top: 16px;
    }
}

.vkl-work-shape2 {
    position: absolute;
    left: 28%;
    top: 17px;
}

.vkl-work-shape3 {
    position: absolute;
    right: 28%;
    top: 17px;
}


.vkl-benifate-wrap {
    padding-right: 22px;
    @media #{$lg,$md,$xs}{
        padding-right: 0;
    }
}

.vkl-benifate-thumb4{
    @media #{$md}{
        text-align: center;
    }
}

// appointment style 3 

.vkl-appointment-content-wrap {
    margin-left: 65px;
    @media #{$lg,$md,$xs}{
        margin-left: 0;
    }
}

.vkl-appont-thumb-left {
    position: absolute;
    bottom: 0;
}