@use '../../utils' as *;

/*----------------------------------------*/
/*  7.3 Service css
/*----------------------------------------*/

.vkl-service-item{
    padding: 24px;
    border: 1px solid var(--vkl-border-border-3);
    transition: .3s;
    &-thumb{
        height: 330px;
        overflow: hidden;
        transition: .3s;
        border-radius: 8px;
        & img{
            height: 330px;
            object-fit: cover;
            transition: .3s;
            overflow: hidden;
        }
    }
    &-title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
        }
    }
    & .para{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height26);
    }
    & .servic-readmore{
        display: inline-block;
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-semibold);
        transition: .3s;
        & span{
            display: inline-block;
            transition: .3s;
            transform: rotate(-45deg);
        }
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
            & span{
                transform: rotate(0);
                transition: .3s;
            }
        }
    }
    &:hover{
        background: var(--vkl-bg-bg-1);
        transition: .3s;
        & .vkl-service-item{
            &-thumb img{
                transform: scale(1.1);
                transition: .3s;
            }
        }
    }
    &-3{
        padding: 0;
        & .vkl-service-item{
            &-content{
                padding: 24px;
                padding-bottom: 51px;
            }
            &-title{
                @media #{$md,$xs}{
                    font-size: var(--vkl-font-size-font-s20);
                }
            }
            &-icon{
                display: inline-block;
                background: var(--vkl-bg-bg-2);
                height: 70px;
                width: 70px;
                border-radius: 50px;
                display: inline-block;
                line-height: 70px;
                text-align: center;
                transition: .3s;
                position: absolute;
                right: 24px;
                top: 132px;
                z-index: 1;
                @media #{$md}{
                    top: 156px;
                }
                @media #{$xs}{
                    top: 165px;
                }
            }
            &-arrow{
                & a{
                    height: 70px;
                    width: 70px;
                    display: grid;
                    place-content: center;
                    background: var(--vkl-bg-bg-1);
                    transition: .3s;
                    border-radius: 50px;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    z-index: 3;
                    transition: .3s;
                    &:hover{
                        background: var(--vkl-text-text-1);
                        transition: .3s;
                        transform: translateY(-4px);
                    }
                }
            }
            &-thumb{
                border-radius: 0;
                & img{
                    height: 350px;
                }
            }   
        }

        &:hover{
            & .vkl-service-item{
                &-icon{
                    transition: .3s;
                    background: var(--vkl-text-text-1);
                    transform: rotateY(-180deg);
                }
            }
        }
        &-6{
            background: var(--vkl-bg-bg-2);
            border:1px solid transparent;
            & .vkl-service-item{
                &-icon{
                    border-radius: 16px;
                }
            }
            &:hover{
                background: var(--vkl-text-text-2);
                & .vkl-service-item{
                    &-title{
                        color: var(--vkl-text-text-white);
                    }
                }
                & .para{
                    color: rgba(255, 255, 255, 0.90) !important;
                }
            }
        }
        &-7{
            padding: 24px;
            .vkl-service-item{
                &-content{
                    padding: 0;
                }
                &-thumb{
                    border-radius: 8px;
                    height: 270px;
                }
                &-icon{
                    top: 56%;
                    right: 44px;
                    & span{
                        & img{
                            transition: .3s;
                        }
                    }
                }
            }
            &:hover{
                & .vkl-service-item{
                    &-icon{
                        background: var(--vkl-text-text-2);
                        & span{
                            & img{
                                filter: brightness(0) invert(1);
                                transition: .3s;
                            }
                        }
                    }
                }
            }
        }
    }
    &-5{
        padding: 0;
        transition: .3s;
        & .vkl-service-item{
            &-content{
                padding: 24px 32px;
            }
            &-icon{
                & span{
                    height: 70px;
                    width: 70px;
                    line-height: 70px;
                    display: inline-block;
                    border-radius: 50px;
                    background: var(--vkl-bg-bg-2);
                    text-align: center;
                    transition: .3s;
                }
            }
            &-title{
                font-size: var(--vkl-font-size-font-s20);
                line-height: var(--vkl-specing-height20);
                color: var(--vkl-text-text-black);
                transition: .3s;
                &:hover{
                    color: var(--vkl-text-text-1);
                    transition: .3s;
                }
            }
            &-thumb{
                border-radius: 0;
                height: 250px;
            }
            &-arow{
                & span{
                    display: inline-block;
                    height: 54px;
                    width: 54px;
                    line-height: 54px;
                    background: var(--vkl-text-text-1);
                    color: var(--vkl-text-text-black);
                    text-align: center;
                    border-radius: 50px;
                    transition: .3s;
                    position: absolute;
                    right:24px;
                    top:-56px;
                    transform: rotate(-45deg);
                }
            }
        }
        &:hover{
            background: var(--vkl-bg-bg-2);
            transition: .3s;
            & .vkl-service-item{
                &-icon{
                    & span{
                        background: var(--vkl-text-text-1);
                        transition: .3s;
                        transform: rotateY(180deg);
                    }
                }
                &-arow{
                    & span{
                        transition: .3s;
                        top:32px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

// service item 2 

.vkl-service-item-2{
    text-align: center;
    position: relative;
    &-thumb{
        height: 350px;
        width: 350px;
        object-fit: cover;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        & img{
            height: 350px;
            object-fit: cover;
            transition: 0.3s;
            overflow: hidden;
            transition: .3s;
        }
    }
    &-title{
        color: var(--vkl-text-text-white);
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-1);
            transition: .3s;
        }
    }
    &-desc{
        color: #fff;
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height26);
    }
    &-icon{
        & span{
            height: 90px;
            width: 90px;
            background: var(--vkl-text-text-2);
            border-radius: 50%;
            display: inline-block;
            line-height: 90px;
            transition: .3s;
            position: absolute;
            left: 35px;
            top: 0;
            z-index: 1;
            & img{
                filter: brightness(0) invert(1);
                transition: .3s;
            }
        }
    }
    &:hover{
        .vkl-service-item-2{
            &-thumb{
                & img{
                    transform: scale(1.1);
                    transition: .3s;
                }
            }
            &-icon{
                & span{
                    background: var(--vkl-text-text-1);
                    transition: .3s;
                    & img{
                        filter: inherit;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

.vkl-service-item-2:hover .vkl-service-item-2-thumb img {
    transform: scale(1.1);
    transition: 0.3s;
}

// service dot style home 2

.vkl-dot-pagination{
    & .swiper-pagination {
        position: relative;
    }
    & .swiper-pagination-bullet {
        opacity: 1;
        height: 10px;
        width: 10px;
        background: #425642;
        margin: 0 10px !important;
        &-active {
            background: #fff;
            position: relative;
            z-index: 1;
            &::after {
                position: absolute;
                content: "";
                height: 24px;
                width: 24px;
                left: -7px;
                top: -7px;
                z-index: -1;
                border: 5px solid #2B412B;
                border-radius: 50%;
            }
        }
    }
    &-2{
        & .swiper-pagination-bullet {
            opacity: 1;
            height: 10px;
            width: 10px;
            background: #BAC5BC;
            margin: 0 10px !important;
            &-active {
                background: #142C13;
                position: relative;
                z-index: 1;
                &::after {
                    position: absolute;
                    content: "";
                    height: 24px;
                    width: 24px;
                    left: -7px;
                    top: -7px;
                    z-index: -1;
                    border: 5px solid #BAC5BC;
                    border-radius: 50%;
                }
            }
        }
    }
}


.vkl-service-wrap-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &-desc{
        color: var(--vkl-text-text-3);
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-medium);
    }
    &-link{
        color: var(--vkl-text-text-2);
        text-decoration: underline;
        font-weight: var(--vkl-weight-semibold);
    }
}