@use '../../utils' as *;

/*----------------------------------------*/
/*  7.3 Service css
/*----------------------------------------*/


.vkl-service-item{
    padding: 24px;
    border: 1px solid var(--vkl-border-border-3);
    transition: .3s;
    &-thumb{
        height: 330px;
        overflow: hidden;
        transition: .3s;
        border-radius: 8px;
        & img{
            height: 330px;
            object-fit: cover;
            transition: .3s;
            overflow: hidden;
        }
    }
    &-title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
        }
    }
    & .para{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height26);
    }
    & .servic-readmore{
        display: inline-block;
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-semibold);
        transition: .3s;
        & span{
            display: inline-block;
            transition: .3s;
            transform: rotate(-45deg);
        }
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
            & span{
                transform: rotate(0);
                transition: .3s;
            }
        }
    }
    &:hover{
        background: var(--vkl-bg-bg-1);
        transition: .3s;
        & .vkl-service-item{
            &-thumb img{
                transform: scale(1.1);
                transition: .3s;
            }
        }
    }
}

// service item 2 

.vkl-service-item-2{
    text-align: center;
    position: relative;
    &-thumb{
        height: 350px;
        width: 350px;
        object-fit: cover;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        & img{
            height: 350px;
            object-fit: cover;
            transition: 0.3s;
            overflow: hidden;
            transition: .3s;
        }
    }
    &-title{
        color: var(--vkl-text-text-white);
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-1);
            transition: .3s;
        }
    }
    &-desc{
        color: #fff;
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height26);
    }
    &-icon{
        & span{
            height: 90px;
            width: 90px;
            background: var(--vkl-text-text-2);
            border-radius: 50%;
            display: inline-block;
            line-height: 90px;
            transition: .3s;
            position: absolute;
            left: 35px;
            top: 0;
            z-index: 1;
            & img{
                filter: brightness(0) invert(1);
                transition: .3s;
            }
        }
    }
    &:hover{
        .vkl-service-item-2{
            &-thumb{
                & img{
                    transform: scale(1.1);
                    transition: .3s;
                }
            }
            &-icon{
                & span{
                    background: var(--vkl-text-text-1);
                    transition: .3s;
                    & img{
                        filter: inherit;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

.vkl-service-item-2:hover .vkl-service-item-2-thumb img {
    transform: scale(1.1);
    transition: 0.3s;
}