@use '../../utils' as *;

/*----------------------------------------*/
/*  7.4 Team css
/*----------------------------------------*/

.vkl-team-item{
    position: relative;
    z-index: 1;
    &-thumb{
        border-radius: 16px;
        object-fit: cover;
        transition: .3s;
        height: 420px;
        overflow: hidden;
        & img{
           transition: .3s;
        }
    }
    &-content{
        background: var(--vkl-text-text-white);
        padding: 24px 20px;
        border-radius: 16px;
        text-align: center;
        transition: .3s;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
    &-title{
        transition: .3s;
        font-size: var(--vkl-font-size-font-s20);
        line-height: var(--vkl-specing-height20);
    }
    &-desc{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-medium);
        transition: .3s;
    }
    &-social{
        & ul{
            & li{
                display: inline-block;
                & a{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 50px;
                    background: var(--vkl-bg-bg-2);
                    transition: .3s;
                    color: var(--vkl-text-text-black);
                    &:hover{
                        background: var(--vkl-text-text-1);
                        transition: .3s;

                    }
                    &.share-icon{
                        transition: 0.3s;
                        border: 1px solid var(--vkl-border-border-2);
                        position: relative;
                        z-index: 1;
                    }
                    & img{
                        margin-top: -4px;
                    }
                }
            }
        }
    }
    &:hover{
        & .vkl-team-item{
            &-thumb{
                & img{
                    transform: scale(1.1);
                    transition: .3s;
                }
            }
            &-title{
                color: var(--vkl-text-text-white);
                transition: .3s;
                &:hover{
                    color: var(--vkl-text-text-1);
                    transition: .3s;
                }
            }
            &-desc{
                color: var(--vkl-text-text-white);
                transition: .3s;
            }
            &-content{
                background: var(--vkl-text-text-black);
                transition: .3s;
            }
            &-social ul li a.share-icon {
                display: none;
                transition: .3s;
                transform: translateY(-10px);
                opacity: 0;
            }
        }
    }
    &-3{
        padding: 24px;
        .vkl-team-item{
            &-content{
                position: relative;
                background: transparent;
                padding: 0;
                border-radius: 16px;
                left: 0;
                right: 0;
                bottom: 0;
                text-align: inherit;
                display: flex;
                justify-content: space-between;
                margin-top: 24px;
                padding-top: 24px;
                border-top: 1px solid rgba(19, 44, 18, 0.10);
                border-radius: 0;
            }
            &-thumb{
                height: 222px;
                width: 222px;
                border-radius: 50%;
                margin: 0 auto;
            }
        }
        &:hover{
            .vkl-team-item{
                &-content{
                   background: transparent; 
                }
                &-social-3{
                    & ul{
                        transform: translateY(-186px) translateX(4px);
                        transition: .3s;
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &-title{
                    color: var(--vkl-text-text-black);
                }
                &-desc{
                    color: var(--vkl-text-text-3);
                }
            }
        }
    }
    &-5{
        border-radius: 8px;
        overflow: hidden;
        & .vkl-team-item{
            &-thumb{
                height: 290px;
                border-radius: 0px;
            }
            &-content{
                border-left: 1px solid #DCE2DD;
                border-right: 1px solid #DCE2DD;
                border-bottom: 1px solid #DCE2DD;
                position: relative;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 0;
                background: transparent;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                text-align: start;
                padding-top: 40px;
            }
            &-social5{
                position: absolute;
                bottom: 50px;
                left: 24px;
                z-index: 2;
                & ul{
                    & li{
                        & a{
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            text-align: center;
                            border-radius: 50px;
                            display: inline-block;
                            background: var(--vkl-text-text-white);
                            transition: .3s;
                            margin-bottom: 8px;
                            transform: translateX(-60px);
                            opacity: 0;
                            visibility: hidden;
                            &:hover{
                                background: var(--vkl-text-text-1);
                                transition: .3s;
                            }
                        }
                    }
                }
                & .share-icon{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50px;
                    display: inline-block;
                    background: var(--vkl-text-text-white);
                    transition: .3s;
                    transform: translateY(-45px);
                } 
            }
        }
        &:hover{
            & .vkl-team-item{
                &-content{
                    transition: .3s;
                    background: var(--vkl-bg-bg-1);
                    color: var(--vkl-text-text-black);
                }
                &-title{
                    color: var(--vkl-text-text-black);
                    transition: .3s;
                }
                &-desc{
                    color: var(--vkl-text-text-black);
                    transition: .3s;
                }
                &-social5{
                    & ul{
                        & li{
                            & a{
                                transform: translateX(0);
                                transition: .3s;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    & .share-icon{
                        opacity: 0;

                    }
                }
            }
        }
    }
}


.vkl-team-item-title


.vkl-team-item-social ul li{
    &:nth-child(1) {
        transform: translateX(89px) translateY(-1px);
        transition: .3s;
    }
    &:nth-child(2) {
        transform: translateX(46px) translateY(-1px);
        transition: .3s;
    }
    &:nth-child(4) {
        transform: translateX(-46px) translateY(-1px);
        transition: .3s;
    }
    &:nth-child(5) {
        transform: translateX(-89px) translateY(-1px);
        transition: .3s;
    }
}

.vkl-team-item{
    &:hover{
        .vkl-team-item-social ul li{
            transition: .3s;
            &:nth-child(1) {
                transform: translateX(0px) translateY(-1px);
                transition: .3s;
            }
            &:nth-child(2) {
                transform: translateX(0px) translateY(-1px);
                transition: .3s;
            }
            &:nth-child(4) {
                transform: translateX(0px) translateY(-1px);
                transition: .3s;
            }
            &:nth-child(5) {
                transform: translateX(0px) translateY(-1px);
                transition: .3s;
            }
        }
    }
}

.vkl-team-item:hover .vkl-team-item-social ul li a.share-icon {
    transform: translateY(20px);
    opacity: 1;
    transition: .3s;
}


.vl-review-buttons {
    position: absolute;
    top: -170px;
    z-index: 1;
    right: 0;
    @media #{$lg,$md,$xs}{
        position: relative;
        margin-top: 30px;
        top: 0;
        text-align: center;
    }
    &-2{
        bottom: 62px;
        right: 50px;
        top: inherit;
        @media #{$lg,$md}{
            position: absolute;
            bottom: 34px;
            right: 30px;
            top: inherit;
        }
        @media #{$xs}{
            position: relative;
            margin-top: 30px;
            top: 0;
            text-align: center;
            right: 0;
        }
    }
    &-3{
        bottom: 32px;
        right: 24px;
        top: inherit;
        @media #{$lg,$md,$xs}{
            position: absolute;
        }
    }
    &-4{
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        @media #{$lg,$md,$xs}{
            transform: translateY(0);
        }
    }
    &-5{
        bottom: 0px;
        right: 0px;
        top: inherit;
        @media #{$lg,$md}{
            position: absolute;
            bottom: 34px;
            right: 30px;
            top: inherit;
        }
        @media #{$xs}{
            position: relative;
            margin-top: 30px;
            top: 0;
            text-align: center;
            right: 0;
        }
    }
}

.vl-review-button{
    height: 60px;
    width: 60px;
    line-height: 60px;
    background: var(--vkl-bg-bg-1);
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    &-prev {
        margin-right: 10px;
    }
    &:hover{
        color: var(--vkl-text-text-black);
        background: var(--vkl-text-text-1);
        transition: all 0.3s ease;
    }
    &-2{
        @media #{$xs}{
            background: var(--vkl-text-text-1);
        }
        &:hover{
            @media #{$xs}{
                background: var(--vkl-text-text-2);
            }
        }
    }
    &-3{
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(2px);
        color: var(--vkl-text-text-white);
    }
    &-4{
        left: -90px;
        position: absolute;
        @media #{$lg,$md,$xs}{
            left: inherit;
            position: relative;
        }
    }
    &-5{
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(2px);
        color: var(--vkl-text-text-white);
    }
}

.vl-review-button-next.vl-review-button-4 {
    left: auto;
    right: -90px;
    @media #{$lg,$md,$xs}{
        right: inherit;
        position: relative;
    }
}

// team social area 3 

.vkl-team-item-social{
    &-3{
        & ul{
            position: absolute;
            transform: translateY(-186px) translateX(56px);
            transition: .3s;
            opacity: 0;
            visibility: hidden;
            & li{
                & a{
                    background: var(--vkl-bg-bg-2);
                    height: 36px;
                    width: 36px;
                    display: grid;
                    place-content: center;
                    border-radius: 50px;
                    color: var(--vkl-text-text-black);
                    transition: .3s;
                    margin-bottom: 10px;
                    &:hover{
                        background: var(--vkl-text-text-1);
                        transition: .3s;
                    }
                }
            }
        }
        & .share-icon{
            height: 40px;
            width: 40px;
            border-radius: 50px;
            background: var(--vkl-text-text-1);
            display: grid;
            place-content: center;
        }
    }
}
