@use '../../utils' as *;

/*----------------------------------------*/
/*  7.4 Team css
/*----------------------------------------*/

.vkl-team-item{
    position: relative;
    z-index: 1;
    &-thumb{
        border-radius: 16px;
        object-fit: cover;
        transition: .3s;
        height: 420px;
        overflow: hidden;
        & img{
           transition: .3s;
        }
    }
    &-content{
        background: var(--vkl-text-text-white);
        padding: 24px 20px;
        border-radius: 16px;
        text-align: center;
        transition: .3s;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
    &-title{
        transition: .3s;
        font-size: var(--vkl-font-size-font-s20);
        line-height: var(--vkl-specing-height20);
        
    }
    &-desc{
        font-size: var(--vkl-font-size-font-s18);
        line-height: var(--vkl-specing-height18);
        font-weight: var(--vkl-weight-medium);
        transition: .3s;
    }
    &-social{
        & ul{
            & li{
                display: inline-block;
                & a{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 50px;
                    background: var(--vkl-bg-bg-2);
                    transition: .3s;
                    color: var(--vkl-text-text-black);
                    &:hover{
                        background: var(--vkl-text-text-1);
                        transition: .3s;

                    }
                    &.share-icon{
                        border: 1px solid var(--vkl-border-border-2);
                    }
                    & img{
                        margin-top: -4px;
                    }
                }
            }
        }
    }
    &:hover{
        & .vkl-team-item{
            &-thumb{
                & img{
                    transform: scale(1.1);
                    transition: .3s;
                }
            }
            &-title{
                color: var(--vkl-text-text-white);
                transition: .3s;
            }
            &-desc{
                color: var(--vkl-text-text-white);
                transition: .3s;
            }
            &-content{
                background: var(--vkl-text-text-black);
                transition: .3s;
            }
        }
    }
}