@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 Testimonial css
/*----------------------------------------*/

.vkl-white-bg{
    background: var(--vkl-text-text-white);
}

.vkl-testimonial-thumb{
    & img{
        height: 432px;
        object-fit: cover;
        @media #{$xs}{
            height: 100%;
        }
    }
}

.vkl-testimonial-item{
    padding-left: 50px;
    padding-right: 50px;
    @media #{$md}{
        padding: 50px;
    }
    @media #{$xs}{
        padding: 20px;
    }
    &-starrevieew{
        & ul{
            & li{
                display:inline-block;
                color: var(--vkl-text-text-1);
            }
        }
    }
    &-desc{
        padding-top: 24px;
        padding-bottom: 32px;
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height32);
        color: var(--vkl-text-text-3);
        font-weight: var(--vkl-weight-medium);
    }
    &-authbox{
        display: flex;
        align-items: center;
      &-thumb{
        & img{
            height: 80px;
            width: 80px;
            border-radius: 50px;
            margin-right: 16px;
        }
      }
      &-title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
        }
      } 
      &-position{
            padding-top: 16px;
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
            color: var(--vkl-text-text-3);
            transition: .3s;
        } 
    }
    &-2{
        padding: 32px 24px;
        & .vkl-testimonial-item{
            &-starrevieew{
                & ul{
                    & li{
                        background: rgba(255, 255, 255, 0.1);
                        display: inline-block;
                        color: var(--vkl-text-text-4);
                        height: 28px;
                        width: 28px;
                        line-height: 28px;
                        text-align: center;
                        border-radius: 2px;
                        margin-right: 4px;
                    }
                }
            }
            &-desc{
                padding-top: 16px;
                color: rgba(255, 255, 255, 0.90);
            }
            &-authbox{
                &-title{
                    color: var(--vkl-text-text-white);
                    transition: .3s;
                    &:hover{
                        color:var(--vkl-text-text-1);
                        transition: .3s;
                    }
                }
                &-position{
                    color: rgba(255, 255, 255, 0.90);
                }
            }
        }
    }
}

.vkl-testimonial-quote{
    position: absolute;
    right: 57px;
}

.vkl-testimonial-thumb-2{
    margin-left: 52px;
    @media #{$lg,$md,$xs}{
        margin-left: 0;
    }
}

.vkl-testimonial-wrap2 .mb-50 {
    @media #{$lg,$md,$xs}{
        margin-bottom: 30px;
    }
}