@use '../../utils' as *;

/*----------------------------------------*/
/*  7.6 Testimonial css
/*----------------------------------------*/

.vkl-white-bg{
    background: var(--vkl-text-text-white);
}

.vkl-testimonial-thumb{
    & img{
        height: 432px;
        object-fit: cover;
        @media #{$xs}{
            height: 100%;
        }
    }
}

.vkl-testimonial-item{
    padding-left: 50px;
    padding-right: 50px;
    @media #{$md}{
        padding: 50px;
    }
    @media #{$xs}{
        padding: 20px;
    }
    &-starrevieew{
        & ul{
            & li{
                display:inline-block;
                color: var(--vkl-text-text-1);
            }
        }
    }
    &-desc{
        padding-top: 24px;
        padding-bottom: 32px;
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height32);
        color: var(--vkl-text-text-3);
        font-weight: var(--vkl-weight-medium);
    }
    &-authbox{
        display: flex;
        align-items: center;
      &-thumb{
        & img{
            height: 80px;
            width: 80px;
            border-radius: 50px;
            margin-right: 16px;
        }
      }
      &-title{
        font-size: var(--vkl-font-size-font-s24);
        line-height: var(--vkl-specing-height24);
        transition: .3s;
        &:hover{
            color: var(--vkl-text-text-2);
            transition: .3s;
        }
      } 
      &-position{
            padding-top: 16px;
            font-size: var(--vkl-font-size-font-s18);
            line-height: var(--vkl-specing-height18);
            font-weight: var(--vkl-weight-medium);
            color: var(--vkl-text-text-3);
            transition: .3s;
        } 
    }
}

.vkl-testimonial-quote{
    position: absolute;
    right: 57px;
}